:root {
  --background:  #27272a;
  --prose-color: #ffffff;
  --prose-font: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
  --code-font: "Lucida Console", "Courier New", monospace;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background);
  font-family: var(--prose-font);
  color: var(--prose-color);
  font-weight: 400;
}

.content {
  display: grid;
  place-items: center;
}


/* -- nav styles -- */

header {
  background: var(--background);
  text-align: center;
  width: 100%;
  z-index: 999;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--prose-color);
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  color: #8b5cf6;
}

/* -- landing page styles -- */

.tagline {
  font-family: var(--code-font);
  color: #a1a1aa;
}

.landing-image {
  border-radius: 50%;
  max-width: 512px;
  width: 20%;
}
